<!doctype html>
html(lang="fr", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#2196F3")
    meta(name="apple-mobile-web-app-capable", content="yes")
    link(rel="apple-touch-icon", href="/images/launcher-icon-1x.png")
    link(rel="apple-touch-icon", sizes="48x48", href="/images/launcher-icon-1x.png")
    link(rel="apple-touch-icon", sizes="96x96", href="/images/launcher-icon-2x.png")
    link(rel="apple-touch-icon", sizes="192x192", href="/images/launcher-icon-3x.png")
    link(rel="apple-touch-icon", sizes="512x512", href="/images/launcher-icon-4x.png")
    link(rel="apple-touch-startup-image", href="/images/launcher-icon-1x.png")
    title=title
    meta(name="description", content="App pour compter le score au Cricket cutthroat")
    style(type="text/css").
      .table-responsive,.container {
        display: none;
      }
      .mymodal {
        display: block;
        position: fixed;
        top: 20vh;
        left: 20vw;
        z-index: 1050;
        font-size: 5vmin;
      }
      .mymodal-dialog {
        -webkit-transform: translate(0,0);
        -ms-transform: translate(0,0);
        -o-transform: translate(0,0);
        margin: 10px;
      }
      .mymodal-content {
        width: fit-content;
        border: 1px solid rgba(0,0,0,.2);
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 3px 9px rgba(0,0,0,.5);
      }
      .mymodal-header {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
      }
      .mymodal-body {
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;
      }
      .mymodal-footer {
        padding: 15px;
        text-align: right;
        border-bottom: 1px solid #e5e5e5;
      }
      .mymodal-title {
        margin: 0px;
        font-weight: bold;
      }
      button {
        border-radius: 4px;
        background-color: #fff;
        border-color: #ccc;
        padding: 6px 12px;
      }
      .loader {
        border-top: 4vmin solid blue;
        border-right: 4vmin solid green;
        border-bottom: 4vmin solid red;
        border-left: 4vmin solid pink;
        border-radius: 50%;
        width: 20vmin;
        height: 20vmin;
        animation: spin 2s linear infinite;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
      }
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    link(rel="icon", type="image/png", href="./favicon.png")
    link(rel="manifest", href="/manifest.json")
    script(defer, src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(defer, src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js", integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa", crossorigin="anonymous")
    script(defer, src='models/model.js')
  body
    noscript
      h1 You don’t have javascript enabled.
      p Please enable it to get the full experience.
    header
      div.mymodal(id="myModal", role="dialog")
        div.mymodal-dialog
          div.mymodal-content
            div.mymodal-header
              p.mymodal-title Add or Del players
            div.mymodal-body
              button(id="addPlayer", aria-label="Ajouter joueur") 
                span.glyphicon.glyphicon-plus Add Player
              button(id="deletePlayer", aria-label="Enlever joueur") 
                span.glyphicon.glyphicon-minus Delete Player
            div.mymodal-footer
              button(data-dismiss="modal", id="startGame", aria-label="Lancer la partie") Start game
    div.loader
    div.table-responsive.container
      - var countItem = 0;
      each item in pageData.item
        div.row
          - var countName = 0;
          each name in pageData.name
            case countItem
              when 0
                if countName > 0
                  div.col.Ligne_nom(class="Joueur_#{countName}")
                    input.text-center.joueur(type="text", name="Joueur_#{countName}", value="#{name}", aria-label="Nom du joueur")
                    span(id="Stats_Joueur_#{countName}") 0.00
                else 
                  div.col.Ligne_nom(class="Joueur_#{countName}")
                    //button.btn.btn-danger.control_button(id="next", aria-label="Joueur suivant")
                    //  span.glyphicon.glyphicon-play
                    //button.btn.btn-primary.control_button(id="undo", aria-label="Annuler le dernier coup")
                      //span.glyphicon.glyphicon-backward
                    span(id="round") 1
              when 1
                if countName > 0
                  div.col.Ligne_score(class="Joueur_#{countName}")
                    span(id="Joueur_#{countName}") 0
                else 
                  div.col.Ligne_score(class="Joueur_#{countName}")
                    span #{item}
              default
                if countName > 0
                  div.col.case(class="Joueur_#{countName} Ligne_#{item}")
                      svg.scoreGrid(svgid="0", id="#{item}_Joueur_#{countName}", viewBox="0 0 50 50", xmlns="http://www.w3.org/2000/svg")
                else 
                  div.col(class="Joueur_#{countName} Ligne_#{item}")
                    span #{item}
            - countName++;
        - countItem++;
    footer
      script.
        var css = document.createElement('link');
        css.rel = 'stylesheet';
        css.href = '/styles/style.css';
        css.type = 'text/css';
        var link = document.getElementsByTagName('link')[0];
        link.parentNode.insertBefore(css, link);
        
        var css2 = document.createElement('link');
        css2.rel = 'stylesheet';
        css2.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';
        css2.type = 'text/css';
        var link2 = document.getElementsByTagName('link')[0];
        link2.parentNode.insertBefore(css2, link2);
        
        // var css3 = document.createElement('link');
        // css3.rel = 'stylesheet';
        // css3.href = '/styles/toasdiv.min.css';
        // css3.type = 'text/css';
        // var link3 = document.getElementsByTagName('link')[0];
        // link3.parentNode.insertBefore(css3, link3);
        
        if('serviceWorker' in navigator) {
          window.addEventListener("load", function () {
            navigator.serviceWorker.register('/sw.js').then(function(regisdivation) { 
              console.log("Service Worker Registered with scope: ", regisdivation.scope);
              }, function(err) {
                console.log('ServiceWorker regisdivation failed: ', err);
              });
          });
        }
