<!doctype html>
html(lang="fr", dir="ltr")
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="theme-color", content="#2196F3")
    title=title
    meta(name="description", content="App pour compter le score au Cricket cutthroat")
    link(rel="icon", type="image/png", href="./favicon.png")
    link(rel="manifest", href="/manifest.json")
    noscript
      h1 You don’t have javascript enabled.
      p Please enable it to get the full experience.
    script(defer, src="js/concat.js")
    script(defer, src='models/model.js')
  body
    header
      //button.btn.btn-default(data-toggle="modal", data-target="#myModal") Open option
      div.modal.fade(id="myModal", role="dialog")
        div.modal-dialog.modal-sm
          div.modal-content
            div.modal-header
              h4.modal-title Ajouter ou enlever des joueurs
            div.modal-body
              button.btn.btn-default(id="addPlayer", aria-label="Ajouter joueur") 
                span.glyphicon.glyphicon-plus Add Player
              button.btn.btn-default(id="deletePlayer", aria-label="Enlever joueur") 
                span.glyphicon.glyphicon-minus Delete Player
            div.modal-footer
              button.btn.btn-default(data-dismiss="modal", id="startGame", aria-label="Lancer la partie") Start game
    div.table-responsive
      table.table-bordered
        tbody
          - var countItem = 0;
          each item in pageData.item
            tr
              - var countName = 0;
              each name in pageData.name
                case countItem 
                  when 0
                    if countName > 0
                      th(class="Joueur_#{countName} Ligne_#{item}")
                        div.text-center
                          input.joueur(type="text", name="Joueur_#{countName}", value="#{name}", aria-label="Nom du joueur").text-center
                    else 
                      th(class="Joueur_#{countName} Ligne_#{item}")
                        div.text-center
                          button.btn.btn-danger.btn-block(id="next", aria-label="Joueur suivant")
                            span.glyphicon.glyphicon-play
                          button.btn.btn-primary.btn-block(id="undo", aria-label="Annuler le dernier coup")
                            span.glyphicon.glyphicon-backward
                          span.text-center(id="round") Round 1
                  when 1
                    if countName > 0
                      td(class="Joueur_#{countName} Ligne_#{item}")
                        div.text-center
                          span(id="Joueur_#{countName}") 0
                    else 
                      th(class="Joueur_#{countName} Ligne_#{item}")
                        div.text-center
                          span.text-center #{item}
                  default
                    if countName > 0
                      td(class="Joueur_#{countName} Ligne_#{item}")
                        div.text-center
                          button.btn.btn-default-outline.btn-block.case(idRow="#{item}", idColumn="Joueur_#{countName}", id="#{item}_Joueur_#{countName}", aria-label="score flechette")
                            img.img-fluid(src="/images/0.svg", alt="Responsive image")
                            // svg(viewBox="0 0 50 50", preserveAspectRatio="xMidYMin slice", style="width: 100%; padding-bottom: 100%; height: 1px; overflow: visible", xmlns="http://www.w3.org/2000/svg", xmlns:svg="http://www.w3.org/2000/svg")
                    else 
                      th(class="Joueur_#{countName} Ligne_#{item}")
                        div.text-center
                          span.text-center #{item}
                - countName++;
            - countItem++;
    footer
      script.
        var css = document.createElement('link');
        css.rel = 'stylesheet';
        css.href = '/styles/style.css';
        css.type = 'text/css';
        var link = document.getElementsByTagName('link')[0];
        link.parentNode.insertBefore(css, link);
        
        var css2 = document.createElement('link');
        css2.rel = 'stylesheet';
        css2.href = 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css';
        css2.type = 'text/css';
        var link2 = document.getElementsByTagName('link')[0];
        link2.parentNode.insertBefore(css2, link2);
        
        var css3 = document.createElement('link');
        css3.rel = 'stylesheet';
        css3.href = '/styles/toastr.min.css';
        css3.type = 'text/css';
        var link3 = document.getElementsByTagName('link')[0];
        link3.parentNode.insertBefore(css3, link3);
        
        if('serviceWorker' in navigator) {
          window.addEventListener("load", function () {
            navigator.serviceWorker.register('/sw.js').then(function(registration) { 
              console.log("Service Worker Registered with scope: ", registration.scope);
              }, function(err) {
                console.log('ServiceWorker registration failed: ', err);
              });
          });
        }